<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<meta charset="UTF-8">
<title>Title</title>
<body>
<div th:insert="/home :: nav">

</div>
<h3>Thêm mới khách hàng</h3>
<p>
  <a class="btn btn-primary" th:href="@{/contract}">
    Quay lại
  </a>
</p>
<div id="form">
  <form th:action="@{/contract/save}" th:object="${contractList}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <span>Facility</span>
      <select th:field="*{facility}">
        <option th:each="item : ${facilityList}"
                th:value="${item.id}" th:text="${item.name}"></option>
      </select>
    </div>
    <div>
      <span>Star date</span>
      <input type="date" th:field="*{start_date}"/>
    </div>
    <div>
      <span>End date</span>
      <input type="date" th:field="*{endDate}"/>
    </div>
    <div>
      <span>Customer</span>
      <select th:field="*{customer}">
        <option th:each="item : ${customerList}"
                th:value="${item.id}" th:text="${item.name}"></option>
      </select>
    </div>
    <div>
      <span>Employee</span>
      <select th:field="*{employee}">
        <option th:each="item : ${employeeList}"
                th:value="${item.id}" th:text="${item.name}"></option>
      </select>
    </div>
    <div>
      <span>Deposit</span>
      <input type="text" th:field="*{deposit}"/>
    </div>

    <input type="submit" value="Save"/>
  </form>
</div>
<footer th:replace="/layout:: footer"></footer>


</body>
</html>
