<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<meta charset="UTF-8">
<title>Title</title>
<body>
<div th:insert="/home :: nav">

</div>

<div class="notify" style="color: red">
  <div th:if="${mess}">
    <span th:text="${mess}"></span>
  </div>
</div>
<li class="btn btn-primary">
  <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbarEmployee" role="button"
     data-bs-toggle="dropdown" aria-expanded="false">
    Add facility
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="">Villa</a></li>
    <li><a class="dropdown-item" href="">House</a></li>
    <li><a class="dropdown-item" href="">Room</a></li>
  </ul>
</li>
<div>
  <form action="/facility">
    <input style="width: 20%" type="text" name="name" placeholder="Name" th:value="${name}">

    <select style="width: 20%" th:name="facilityType">
      <option th:if="${facilityType != ''}" th:value="${facilityType}" th:text="${facilityType}"></option>
      <option value="">-All-</option>
      <option th:each="item : ${facilityTypeList}" th:value="${item.name}" th:text="${item.name}"></option>
    </select>

    <input type="submit" value="Search" style="width: 10%">
  </form>
</div>

<table id="blog" class="table table-sm , bg-body">
  <thead>
  <tr class="bg-warning">
    <th>STT</th>
    <th>Name</th>
    <th>Area</th>
    <th>Cost</th>
    <th>Max people</th>
    <th>Rent type</th>
    <th>Edit</th>
    <th>View</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of facilityList;let i = index">
    <td>{{i + 1}}</td>
    <td>{{item.name}}</td>
    <td>{{item.area}}</td>
    <td>{{item.cost}}</td>
    <td>{{item.maxPeople}}</td>
    <td>{{item.rentTypeId}}</td>
    <td><a class="btn btn-primary">Edit</a></td>
    <td><a class="btn btn-primary">View</a></td>
    <td><a class="btn btn-primary">Delete</a></td>
  </tr>
  </tbody>
</table>

<!--<div>-->
<!--    <span>-->
<!--        <a th:if="${facilityPage.hasPrevious()}"-->
<!--           th:href="@{/facility(page=${facilityPage.number}-1, name = ${name}, facilityType = ${facilityType})}">-->
<!--            Previous-->
<!--        </a>-->
<!--    </span>-->

<!--  <span th:text="${facilityPage.number+1}"></span>/-->
<!--  <span th:text="${facilityPage.totalPages}"></span>-->

<!--  <span>-->
<!--        <a th:if="${facilityPage.hasNext()}"-->
<!--           th:href="@{/facility(page=${facilityPage.number+1}, name = ${name}, facilityType = ${facilityType})}">-->
<!--            Next-->
<!--        </a>-->
<!--    </span>-->
<!--</div>-->

</body>
</html>
