<div class="card border-success mt-4">
  <h3 class="card-header bg-success">Ứng Dụng Quản Lý Sản Phẩm</h3>
  <div class="card-body">
    <h4 class="card-title">Chỉnh Sửa Sản Phẩm</h4>
    <form *ngIf="rfFacility" [formGroup]="rfFacility" (ngSubmit)="onEdit()">

      <div class="form-group mt-4">
        <input hidden type="text" class="form-group" formControlName="id">
      </div>

      <div class="form-group mt-4">
        <label>Name:</label>
        <input type="text" class="form-group" formControlName="name">
      </div>

      <div class="form-group mt-4">
        <label>Area:</label>
        <input type="number" formControlName="area">
      </div>

      <div class="form-group mt-4">
        <label>Facility Type:</label>
        <select formControlName="facilityType">
          <option [value]="facility.facilityType">{{facility.facilityType.name}}</option>
          <ng-container *ngFor="let item of facilityTypeList">
            <option [ngValue]="item" *ngIf="item.id != facility.facilityType.id">{{item.name}}</option>
          </ng-container>
        </select>
      </div>


<!--      <div class="form-group mt-4">-->
<!--        <option [value]="facility.facilityType">{{facility.facilityType.name}}</option>-->
<!--        <ng-container *ngFor="let item of facilityTypeList">-->
<!--          <option [ngValue]="item" *ngIf="item.id != facility.facilityType.id">{{item.name}}</option>-->
<!--        </ng-container>-->
<!--      </div>-->

      <div>
        <button class="btn bg-primary mt-4" type="submit">Thay Đổi</button>
      </div>
    </form>
  </div>
</div>
