<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<meta charset="UTF-8">
<title>Title</title>
<body>
<div th:insert="/home :: nav">

</div>

<div class="notify"style="color: red">
  <div th:if="${mess}">
    <span th:text="${mess}"></span>
  </div>
</div>
<p>
  <a class="btn btn-primary" th:href="@{/customer/create}">
    Thêm mới
  </a>
</p>
<div>
  <form action="/customer">
    <input style="width: 20%" type="text" name="name" placeholder="Name">
    <input style="width: 20%" type="text" name="email" placeholder="Email">

    <select style="width: 20%" th:name="customerTypeId">
      <option value=""  selected>Choose Something</option>
      <option th:each="item : ${customerTypeList}" th:value="${item.id}" th:text="${item.name}"></option>
    </select>

    <input type="submit" value="Search" style="width: 10%">
  </form>
</div>
<table id = "blog" class="table table-sm , bg-body">
  <thead>
  <tr class="bg-warning">
    <th>STT</th>
    <th>Name</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th>Id card</th>
    <th>Phone number</th>
    <th>Email</th>
    <th>Address</th>
    <th>CustomerType</th>
    <th>Edit</th>
    <th>View</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="customer , rowStat : ${customerPage}">
    <td th:text="${customerPage.number*5+rowStat.count}"></td>
    <td th:text="${customer.getName()}"></td>
    <td th:text="${customer.getDateOfBirth()}"></td>
    <td th:text="${customer.gender.getName()}"></td>
    <td th:text="${customer.getIdCard()}"></td>
    <td th:text="${customer.getPhoneNumber()}"></td>
    <td th:text="${customer.getEmail()}"></td>
    <td th:text="${customer.getAddress()}"></td>
    <td th:text="${customer.getCustomerType().getName()}"></td>
    <td><a th:href="@{customer/{id}/edit(id=${customer.getId()})}" class="btn btn-primary">Edit</a></td>
    <td><a th:href="@{customer/{id}/view(id=${customer.getId()})}" class="btn btn-primary">View</a></td>
    <td><a th:href="@{customer/{id}/delete(id=${customer.getId()})}" class="btn btn-primary" >Delete</a></td>
  </tr>
  </tbody>
</table>

<div>
    <span>
        <a th:if="${customerPage.hasPrevious()}"
           th:href="@{/customer(page=${customerPage.number}-1, name = ${name}, email = ${email}, customerTypeId = ${customerTypeId})}">
            Previous
        </a>
    </span>

  <span th:text="${customerPage.number+1}"></span>/
  <span th:text="${customerPage.totalPages}"></span>

  <span>
        <a th:if="${customerPage.hasNext()}"
           th:href="@{/customer(page=${customerPage.number+1}, name = ${name}, email = ${email}, customerTypeId = ${customerTypeId})}">
            Next
        </a>
    </span>
</div>

</body>
</html>
