<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <link rel="stylesheet" href="../css/home.css">
</head>
<meta charset="UTF-8">
<title>Title</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div th:insert="/home :: nav">

</div>

<div class="notify"style="color: red">
    <div th:if="${mess}">
        <span th:text="${mess}"></span>
    </div>
</div>
<p>
    <a class="btn btn-primary" th:href="@{/contract/create}">
        Add contract
    </a>
</p>
<table id = "blog" class="table table-sm , bg-body">
    <thead>
    <tr class="bg-warning">
        <th>STT</th>
        <th>Facility</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Customer</th>
        <th>Employee</th>
        <th>Deposit</th>
        <th>Attach facility</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract , rowStat : ${contractPage}">
        <td th:text="${contractPage.number*5+rowStat.count}"></td>
        <td th:text="${contract.getFacility().getName()}"></td>
        <td th:text="${contract.getStart_date()}"></td>
        <td th:text="${contract.getEndDate()}"></td>
        <td th:text="${contract.getCustomer().getName()}"></td>
        <td th:text="${contract.getEmployee().getName()}"></td>
        <td th:text="${contract.getDeposit()}"></td>
        <td class="text-center">
            <a class="btn btn-primary"
               th:href="@{contract/{id}/create(id=${contract.getId()})}">+</a>
            <a class="btn btn-primary" th:href="@{contract/{id}/create(id=${contract.getId()})}">Attach
                Facility List</a>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <span>
        <a th:if="${contractPage.hasPrevious()}"
           th:href="@{/contract(page=${contractPage.number}-1)}">
            Previous
        </a>
    </span>

    <span th:text="${contractPage.number+1}"></span>/
    <span th:text="${contractPage.totalPages}"></span>

    <span>
        <a th:if="${contractPage.hasNext()}"
           th:href="@{/contract(page=${contractPage.number+1})}">
            Next
        </a>
    </span>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>