    <div class="row" style="background: #3599E0 ">
        <div class="col-3 header">
            <span>
                <a class="navbar-brand" href="#">
                    <img src="../../assets/img/logo.png" alt="" width="100" height="100" style="border-radius: 50%">
                </a>
            </span>
        </div>
        <div class="col-5 header"></div>
        <div class="col-4 header position-relative">
            <span class="position-absolute top-50 start-50 translate-middle">Nguyễn Văn Huy</span>
        </div>
    </div>
