<div class="row">
  <div class="col-3">
    <ul style="list-style: none">
      <li style="margin :25px 0px 25px 0px;">
        <div class="card" style="width: 18rem;">
          <h3>Ẩm thực</h3>
          <img src="../../assets/img/cover_furama_6.jpg" class="card-img-top" alt="...">
          <div class="card-body" >
            <p class="card-text">Trải nghiệm ẩm thực tại Khu nghỉ có sự pha trộn độc đáo các món ăn truyền thống Việt Nam với nhiều những hương vị ẩm thực châu Á, Ý và châu Âu cùng các món bò nhập khẩu thượng hạng tại đa dạng các nhà hàng, quầy bar đẳng cấp được bao quanh bởi một khu vườn nhiệt đới hay hướng mình ra biển, đón những hơi thở mát mẻ thổi về từ biển đông. .</p>
          </div>
        </div>
      </li>
      <li style="margin-bottom:25px;">
        <div class="card" style="width: 18rem;">
          <h3>Giải Trí</h3>
          <img src="../../assets/img/cover_furama_4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Biến kỳ nghỉ dưỡng năng động hơn bằng cách tham gia các hoạt động thể thao trên nước từ chèo thuyền catamaran, lướt ván buồm, chèo thuyền trên biển, lướt vát, đi xe đạp nước, trượt nước, lướt ván, chuối, dù lượn và đa dạng các hoạt động.</p>
          </div>
        </div>
      </li>
      <li style="margin-bottom:25px;">
        <div class="card" style="width: 18rem;">
          <h3>Sự kiện</h3>
          <img src="../../assets/img/cover_furama_7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Cung hội nghị Quốc tế International Convention Palace (ICP) với phòng Hội nghị lớn sức chứa lên tới 1000 khách cùng hơn 10 phòng chức năng phụ trợ quy mô từ 50 đến 300 khách được trang bị cơ sở vật chất, thiết bị hiện đại, là địa điểm lý tưởng dành cho các đoàn MICE tổ chức hội nghị, hội thảo và sự kiện.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-9" >
    <div class="row container-fluid" >
      <div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin-top:25px;">
          <h3 class="text-center">
            KHU NGHỈ DƯỠNG ĐẲNG CẤP THẾ GIỚI, FURAMA ĐÀ NẴNG, NỔI TIẾNG LÀ KHU NGHỈ DƯỠNG ẨM THỰC TẠI VIỆT NAM.
          </h3>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/img/cover_furama_1.jpg" class="d-block w-100 " style="height: 450px;" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/cover_furama_5.jpg" class="d-block w-100 " style="height: 450px;" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/cover_furama_3.jpg" class="d-block w-100 " style="height: 450px;" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row container-fluid">
      <p class="text-center fw-bold">
        Hướng ra bãi biển Đà Nẵng trải dài cát trắng, Furama Resort Đà Nẵng là cửa ngõ đến với 3 di sản văn hoá thế giới: Hội An (20 phút), Mỹ Sơn (90 phút) và Huế (2 tiếng. 196 phòng hạng sang cùng với 70 căn biệt thự từ hai đến bốn phòng ngủ có hồ bơi riêng đều được trang trí trang nhã, theo phong cách thiết kế truyền thống của Việt Nam và kiến trúc thuộc địa của Pháp, biến Furama thành khu nghỉ dưỡng danh giá nhất tại Việt Nam – vinh dự được đón tiếp nhiều người nổi tiếng, giới hoàng gia, chính khách, ngôi sao điện ảnh và các nhà lãnh đạo kinh doanh quốc tế.
      </p>
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/IjlT_4mvd-c" title="YouTube video" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
