<div class="card border-success mt-4">
  <h3 class="card-header bg-success">Ứng Dụng Quản Lý Sản Phẩm</h3>
  <div class="card-body">
    <h4 class="card-title">Chỉnh Sửa Sản Phẩm</h4>
    <form [formGroup]="rfProduct" (ngSubmit)="onEdit()">
      <div class="form-group mt-4">
        <label>Tên Sản Phẩm:</label>
        <input type="text" class="form-group" formControlName="name">
      </div>

      <div class="form-group mt-4">
        <label>Giá Sản Phẩm:</label>
        <input type="number" formControlName="price">
      </div>

      <div class="form-group mt-4">
        <label>Mô Tả Sản Phẩm:</label>
        <input type="text" class="form-group" formControlName="description">
      </div>

      <div>
        <button class="btn bg-primary mt-4" type="submit">Thay Đổi</button>
      </div>
    </form>
  </div>
</div>
