<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<meta charset="UTF-8">
<title>Title</title>
<body>
<div th:insert="/home :: nav">

</div>

<div class="notify"style="color: red">
  <div th:if="${mess}">
    <span th:text="${mess}"></span>
  </div>
</div>
<p>
  <a class="btn btn-primary" th:href="@{/contract/create}">
    Add contract
  </a>
</p>
<table id = "blog" class="table table-sm , bg-body">
  <thead>
  <tr class="bg-warning">
    <th>STT</th>
    <th>Facility</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Customer</th>
    <th>Employee</th>
    <th>Deposit</th>
    <th>Attach facility</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="contract , rowStat : ${contractPage}">
    <td th:text="${contractPage.number*5+rowStat.count}"></td>
    <td th:text="${contract.getFacility().getName()}"></td>
    <td th:text="${contract.getStart_date()}"></td>
    <td th:text="${contract.getEndDate()}"></td>
    <td th:text="${contract.getCustomer().getName()}"></td>
    <td th:text="${contract.getEmployee().getName()}"></td>
    <td th:text="${contract.getDeposit()}"></td>
    <td class="text-center">
      <a class="btn btn-primary"
         th:href="@{contract/{id}/create(id=${contract.getId()})}">+</a>
      <a class="btn btn-primary" th:href="@{contract/{id}/create(id=${contract.getId()})}">Attach
        Facility List</a>
    </td>
  </tr>
  </tbody>
</table>

<div>
    <span>
        <a th:if="${contractPage.hasPrevious()}"
           th:href="@{/contract(page=${contractPage.number}-1)}">
            Previous
        </a>
    </span>

  <span th:text="${contractPage.number+1}"></span>/
  <span th:text="${contractPage.totalPages}"></span>

  <span>
        <a th:if="${contractPage.hasNext()}"
           th:href="@{/contract(page=${contractPage.number+1})}">
            Next
        </a>
    </span>
</div>

</body>
</html>
