
<!--Bài 4-->


<!--<app-navbar></app-navbar>-->
<!--<app-create-application-hackernews></app-create-application-hackernews>-->
<!--<app-footer></app-footer>-->
<!--Bài 5 : thực hành !-->


<!--<app-app-name-card cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789" ></app-app-name-card>-->

<!--Bài 5: Bài tập-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<app-countdown-timer></app-countdown-timer>-->

<!--Bài 6 : demo-->
<!--<app-demos6></app-demos6>-->

<!--Bài 6 : bài tập -->
<!--<app-form-register></app-form-register>-->
<app-form-login></app-form-login>
