<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<meta charset="UTF-8">
<title>Title</title>
<body>
<div th:insert="/home :: nav">

</div>
<h3>Thêm mới khách hàng</h3>
<p>
  <a class="btn btn-primary" th:href="@{/customer}">
    Quay lại
  </a>
</p>
<div id="form">
  <form th:action="@{/customer/save}" th:object="${customerDto}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <span>Name</span>
      <input type="text" th:field="*{name}"/>
      <p style="color:red"
         th:errors="*{name}"
         th:if="${#fields.hasErrors('name')}"></p>
    </div>
    <div>
      <span>Date of birth</span>
      <input type="date" th:field="*{dateOfBirth}"/>
      <p style="color:red"
         th:errors="*{dateOfBirth}"
         th:if="${#fields.hasErrors('dateOfBirth')}"></p>
    </div>
    <div>
      <span>Gender</span>
      <select th:field="*{gender}">
        <option th:each="item : ${genderList}"
                th:value="${item.id}" th:text="${item.name}"></option>
      </select>
    </div>
    <div>
      <span>Id card</span>
      <input type="text" th:field="*{idCard}"/>
      <p style="color:red"
         th:errors="*{idCard}"
         th:if="${#fields.hasErrors('idCard')}"></p>
    </div>
    <div>
      <span>Phone number</span>
      <input type="text" th:field="*{phoneNumber}"/>
      <p style="color:red"
         th:errors="*{phoneNumber}"
         th:if="${#fields.hasErrors('phoneNumber')}"></p>
    </div>
    <div>
      <span>Email</span>
      <input type="text" th:field="*{email}"/>
      <p style="color:red"
         th:errors="*{email}"
         th:if="${#fields.hasErrors('email')}"></p>
    </div>
    <div>
      <span>Address</span>
      <input type="text" th:field="*{address}"/>
      <p style="color:red"
         th:errors="*{address}"
         th:if="${#fields.hasErrors('address')}"></p>
    </div>
    <div>
      <span>CustomerType</span>
      <select th:field="*{customerType}">
        <option th:each="item : ${customerTypeList}"
                th:value="${item.id}" th:text="${item.name}"></option>
      </select>
    </div>

    <input type="submit" value="Save"/>
  </form>
</div>
<footer th:replace="/layout:: footer"></footer>




</body>
</html>
