<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<meta charset="UTF-8">
<title>Title</title>
<body>
<div th:insert="/home :: nav">

</div>
<h3>Add villa</h3>
<p>
  <a class="btn btn-primary" th:href="@{/facility}">
    Come back
  </a>
</p>
<div id="form">
  <form th:action="@{/facility/save}" th:object="${facilityDto}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <span>Facility type</span>
      <select th:field="*{facilityType}">
        <option value="1">Villa</option>
      </select>
    </div>
    <div>
      <span>Name</span>
      <input type="text" th:field="*{name}"/>
      <p style="color:red"
         th:errors="*{name}"
         th:if="${#fields.hasErrors('name')}"></p>
    </div>
    <div>
      <span>Area</span>
      <input type="text" th:field="*{area}"/>
      <p style="color:red"
         th:errors="*{area}"
         th:if="${#fields.hasErrors('area')}"></p>
    </div>
    <div>
      <span>Cost</span>
      <input type="text" th:field="*{cost}"/>
      <p style="color:red"
         th:errors="*{cost}"
         th:if="${#fields.hasErrors('cost')}"></p>
    </div>
    <div>
      <span>Max people</span>
      <input type="text" th:field="*{maxPeople}"/>
      <p style="color:red"
         th:errors="*{maxPeople}"
         th:if="${#fields.hasErrors('maxPeople')}"></p>
    </div>
    <div>
      <span>Rent type</span>
      <select th:field="*{rentType}">
        <option th:each="item : ${rentTypeList}"
                th:value="${item.id}" th:text="${item.name}"></option>
      </select>
    </div>
    <div>
      <span>Standard room</span>
      <input type="text" th:field="*{standardRoom}"/>
      <p style="color:red"
         th:errors="*{standardRoom}"
         th:if="${#fields.hasErrors('standardRoom')}"></p>
    </div>
    <div>
      <span>Description other convenience</span>
      <input type="text" th:field="*{descriptionOtherConvenience}"/>
      <p style="color:red"
         th:errors="*{descriptionOtherConvenience}"
         th:if="${#fields.hasErrors('descriptionOtherConvenience')}"></p>
    </div>
    <div>
      <span>Pool area</span>
      <input type="text" th:field="*{poolArea}"/>
      <p style="color:red"
         th:errors="*{poolArea}"
         th:if="${#fields.hasErrors('poolArea')}"></p>
    </div>

    <div>
      <span>	Number of floors</span>
      <input type="text" th:field="*{numberOfFloors}"/>
      <p style="color:red"
         th:errors="*{numberOfFloors}"
         th:if="${#fields.hasErrors('numberOfFloors')}"></p>
    </div>

    <input type="submit" value="Save"/>
  </form>
</div>
<footer th:replace="/layout:: footer"></footer>


</body>
</html>
