<app-header></app-header>
<app-navigation></app-navigation>
<!--<app-home></app-home>-->
<!--<app-list-facility></app-list-facility>-->
<!--<app-edit-facility></app-edit-facility>-->
<!--<app-create-house></app-create-house>-->
<!--<app-create-room></app-create-room>-->
<!--<app-create-villa></app-create-villa>-->
<!--<app-list-customer></app-list-customer>-->
<!--<app-edit-customer></app-edit-customer>-->
<!--<app-create-customer></app-create-customer>-->
<!--<app-create-contract></app-create-contract>-->
<app-list-contract></app-list-contract>
<app-footer></app-footer>
